@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}


section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}



* {
  padding: 0px;
  margin: 0px;
}

header {
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
}

.nav-bar {
  z-index: 2;
}

.nav-bar h3 {
  color: white;
  background-color: black;
  font-family: 'Abel', sans-serif;

}

.nav-bar h3 a {
  background-color: black;
  color: white;
}

.nav-bar h3 a:link {
  text-decoration: none;
}

.nav-bar h3 a:hover {
  cursor: pointer;
}

body {
  padding-top: 3.5em;
  text-align: center;
  margin: 0 auto;
  overflow-x: hidden;
  width: 100%;
}

h1, h2 {
  font-family: 'Abel', Helvetica, sans-serif;
}

h3 {
  font-family: 'Noto Sans JP', sans-serif;
}

.eng-dsc {
  max-width: 50%;
}

.flexy h2 {
  text-align: center;
  color: brown;
  align-self: center;
  font-weight: bold;
}

.flexy img {
  align-self: center;
  overflow-x: hidden;
}

.flexy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow-x: hidden;
}

.profile-pic {
    border-radius: 50%;
}

* {
  background-color:aliceblue;
}

.logo2 {
  position: fixed;
  bottom: 0px;
  right: 0px;
  max-width: 20%;
  background: transparent;
}

.thanks {
  font-family: 'Abel', sans-serif;
  font-weight: bold;
  padding-top: 30px;
}

.introduction {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  font-family: 'Noto Sans JP',Arial, Helvetica;

}

#repobutton {
  padding: 40px;
  background-color: chocolate;
  width: 30%;
  margin: 0 auto;
  border-radius: 30px;
}


#repobutton > a {
  background-color: chocolate;
}

#htmllink {
  color: aliceblue;
  font-size: x-large;
  font-family: 'Abel', sans-serif;
  
}


.jp-dsc {
  padding-top: 3em;
}

.data-analysis {
  padding-top: 20em;
  padding-bottom: 20em;
}

.data-analysis p {
  font-family: 'Abel';
  font-size: xx-large;
}

.html-project {
  padding-top: 20em;
  padding-bottom: 20em;
  overflow-x: hidden;
}

.html-project p {
  font-family: 'Abel';
  font-size: xx-large;
}

.foot {
  margin: 20px;
  padding: 30px;
  font-family: 'Abel', Arial, Helvetica, sans-serif;
  font-size: small;
}


/* adding fade in text */


.fade-in-text {
    animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -moz-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  } 



/* adding scroll animation*/
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-50%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

/*Right side scroll animation*/
.hidden1 {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(50%);
  transition: all 1s;
}

.show1 {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}