.tottori_title {
    width: 80%;
    margin: 0 auto;
    font-family: "Verdana";
    font-weight: normal;
}

.tottori_japan_title {
    color: chocolate;
    padding: 3px;
}

.data_intro {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 60px;
    gap: 20px;
    overflow-x: hidden;
}


.intro {
    font-family: "Abel","Verdana";
    font-size: large;
    width: 60%;
}

.data_intro_photo {
    height: auto;
    max-width: 300px;
    overflow-x: hidden;
}

.intro_desc {
    align-items: center;
    text-align: left;
}

.intro_div {
    font-family: "Abel";
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

#date {
    padding-top: 5px;
    border-bottom: 1px solid chocolate;
}

/* Senitment anaylsis question */

.senti_analysis_body {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    font-family: 'Abel', sans-serif;
}

pre {
    text-align: left;
    margin: 0 auto;
    width: 70%;
}

code {
    border-radius: 20px;
    font-size: smaller;
}

/* The text of the project */
#question1 {
    padding-top: 15px;
}

.projectbodycontent {
    font-family: 'Abel', sans-serif;
    
}

#projectlist {
    margin: 0 auto;
    width: 70%;
    padding: 10px;
}

p#p7 {
    padding-top: 0;

}

