/* Global settings*/
span {
    color: chocolate;
}

body {
    padding-top: 20px;
}



/* When the flexbox becomes mobile like, add padding to body*/


.term_paper_title {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-family: 'Rubik','Noto Sans JP';
    font-weight: lighter;
}

/*Photo with text*/
.textoverphoto {
    position: relative;
    text-align: center;
    color: white;

}


.centeredphoto {
    width: 100%;
    object-fit: cover;
    height: 300px;
    object-position: center 40%;
    filter: brightness(60%);
}

.centered {
    font-family: 'Rubik';
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sea_body {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    font-family: 'Abel', sans-serif;
}
.body_padding {
    padding: 20px 0;
}

.underline {
    border-bottom: 1px solid chocolate;
}