/* Global settings*/
span {
    color: chocolate;
}

body {
    padding-top: 20px;
}

code {
    border-radius: 20px;
}


/* When the flexbox becomes mobile like, add padding to body*/


.term_paper_title {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    font-family: 'Rubik','Noto Sans JP';
    font-weight: lighter;
}

/*Photo with text*/
.textoverphoto {
    position: relative;
    text-align: center;
    color: white;

}


.centeredphoto {
    width: 100%;
    object-fit: cover;
    height: 300px;
    object-position: center 40%;
    filter: brightness(60%);
}

.centered {
    font-family: 'Rubik';
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sea_body {
    width: 70%;
    margin: 0 auto;
    text-align: left;
    font-family: 'Abel', sans-serif;
}
.body_padding {
    padding: 20px 0;
}

.underline {
    border-bottom: 1px solid chocolate;
}

/*Padding CSS*/

.upper_pad {
    padding-top: 20px;
}

/*Text and Image flexbox*/
.text_and_image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: normal;
    gap: 20px;
    width: 70%;
    margin: 0 auto;
}

.flex_text {
    text-align: left;
    justify-content: center;
    width: 50%;
}

.flex_photo {
    height: auto;
    overflow-x: hidden;
}


@media screen and (max-width: 600px) {
    .flex_text {
        width: 100%;
    }

    .text_and_image {
        flex-wrap: wrap;
    }
}

/* List of the steps*/
.projectlist {
    margin: 0 auto;
    width: 60%;
    padding: 10px;
    color: rgb(150, 76, 24);
}

/* List of graphs*/

.data_intro {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 60px;
    gap: 20px;
    overflow-x: hidden;
}

.intro {
    font-family: "Abel","Verdana";
    font-size: large;
    width: 60%;
}

.data_intro_photo {
    height: auto;
    max-width: 300px;
    overflow-x: hidden;
}

/*Table*/

table {
    font-family: 'Abel', sans-serif;
    font-size: small;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }


/* Experimental flexbox*/

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}

.flexbox img{
    width: 100%;
    max-width: 350px;
    object-fit: contain;
    border-radius: 10px;
}


/*Accordion Drop down Collapsible*/

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 60%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 80%;
    background-color: transparent;
    text-align: center;
  }

  .img2 {
    width: 100%;
    max-width: 500px;
    object-fit: contain;
    border-radius: 10px;
  }

  @media screen and (max-width: 600px) {
    .accordion {
        width: 80%;
    }
  }

  /*Conclusion*/

  .conclusion {
    text-align: center;
    
  }

.link_button {
    color: aliceblue;
    font-size: x-large;
    font-family: 'Abel', sans-serif;
    padding: 40px;
    background-color: #E1A080;
    width: 30%;
    margin: 0 auto;
    border-radius: 30px;
}